node_modules/**
!node_modules/vdna/
!node_modules/vdna/**
node_modules/vdna/static_data.js
dist
.tmp
.sass-cache
public/bower_components*
public/public
public/static
public/js/bundle
*~
vdnabundle.js
