<div vdnaclass="vison tejon" class="event vevent">
  <div class="eventImage">
    <div class="eventPoster">
      <a href="/jnp/hudba/folklor-etno-world-music/1547175-ukrajinsky-armadni-soubor.html" onClick="_gaq.push(['_trackEvent', 'Folklór / Etno / World music', 'přechod z HP - Žhavé novinky', 'Ukrajinský armádní soubor', 0]);">
        <img src="/public/6f/ff/57/1549806_990909_other_ukraine_100x100px.jpg" width="100" height="100" alt="Ukrajinský armádní soubor" title="Ukrajinský armádní soubor" class="photo" /></a>
    </div>
    <img src="/public/61/c5/c/521_6208_ico_home_eticket.gif" alt="E-Ticket" width="28" height="11" title="E-Ticket" />
    <img src="/public/8a/37/5a/523_6209_ico_home_mticket.gif" alt="M-Ticket" width="27" height="11" title="M-Ticket" />


  </div>
  <div class="eventInfo">
    <h3><a href="/jnp/hudba/folklor-etno-world-music/1547175-ukrajinsky-armadni-soubor.html" class="url summary" onClick="_gaq.push(['_trackEvent', 'Folklór / Etno / World music', 'přechod z HP - Žhavé novinky', 'Ukrajinský armádní soubor', 0]);">Ukrajinský armádní soubor</a></h3>



    <p class="special_offer_3" style="color: #006699">Evropské turné 2015</p>
    <p ><span class="location vcard"><span class="fn org">Různá místa v České republice</span></span></p>
    <p class="date">
      <span class="dtstart">23.05.2015<span class="value-title" title="2015-05-23T16:00:00"></span></span> až <span class="dtend">30.05.2015<span class="value-title" title="2015-05-30T16:00:00"></span></span>
    </p>
  </div>
</div>
