<div id="vdnamenu" ng-controller="VdnaCtrl">
  <div class="r">
    <span id="hidevdna" style="cursor: pointer; position: absolute; top: 5px; right: 25px;">X</span>
    <img src="images/zifter.png" id="zifterlogo" style="position: absolute; top: 20px; right: 20px; width: 5%;" />
    <div id="header">
      <span id="title" class="left">Your profile at Ticketpro</span>
      <span id="weighted">
        Sort:
        <select ng-model="weighted" ng-change="toggleWeighted()">
          <option value="true" selected>By my likes</option>
          <option value="false">Orig sorting</option>
        </select>
      </span>
      <span id="power">
        On/Thurk
        <input type="checkbox" ng-model="power" ng-change="hitThatSwitch()" />
      </span>
    </div>
    <br class="clear" />
    <div id="aperture">
      <span class="left">Aperture:</span><span class="middle"></span>
    </div>
    <br class="clear" />
    <div id="keywords">
      <span class="left">Keywords:</span>
      <span id="keyspan" class="middle">
        <ul>
          <li ng-repeat="vdnaCategory in vdnaCategories">
            <span title="{{ vdnaClass['name'] }}" style="cursor: pointer" ng-click="toggleCategory(vdnaCategory[0])">
              {{ vdnaCategory[0] }}
            </span>
          </li>
        </ul>
      </span>
    </div>
    <br class="clear" />
    <div id="entries">
      <span class="left">Enter a [like]:</span>
      <span id="like_select" class="middle">
        <ul>
          <li ng-repeat="vdnaAvailableCategory in vdnaAvailableCategories">
            <span style="cursor: pointer" ng-click="toggleAvailableCategory(vdnaAvailableCategory[0])">
              {{ vdnaAvailableCategory[0] }}
            </span>
          </li>
        </ul>
      </span>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("span[id^='hidev']").click(function() {
    $("#vdnamenu").hide(600);
  });
</script>
